@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Abel", sans-serif;
}

.object1 {
    animation: MoveLeftRight1 200s linear infinite;
    position: absolute;
}

@keyframes MoveLeftRight1{
    0%, 100% {
        transform: translateX(40rem);
    }
    50% {
        transform: translateX(calc(50vw - 65rem)) ;
    }
}

.object2 {
    animation: MoveLeftRight2 150s linear infinite;
    position: absolute;
}

@keyframes MoveLeftRight2{
    0%, 100% {
        transform: translateX(25rem);
    }
    50% {
        transform: translateX(calc(9vw - 50rem)) ;
    }
}

.object3 {
    animation: MoveLeftRight3 300s linear infinite;
    position: absolute;
}

@keyframes MoveLeftRight3{
    0%, 100% {
        transform: translateX(45rem);
    }
    50% {
        transform: translateX(calc(5vw - 30rem)) ;
    }
}